.footer{
    width: 100%;
    padding: 20px 0px;
    position: relative;
   
    // background-color: rgba(0, 0, 0, 0.808);
    background: #6f1684; /* Old browsers */ background: -webkit-linear-gradient(left, #6f1684, #5b0b98, #53afba); /* Chrome 10-25, Safari 5.1-6 */ background: linear-gradient(to right, #6f1684, #5b0b98, #53afba); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    &__container{
        max-width: 1380px;
        margin: 0 auto;
    }
    &__body{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__block{
        text-align: center;
        p{
            font-size: 18px;
            color: #aaa;
            margin: 0px 0px 10px 0px;
        }
    }
    &__social{
        cursor: pointer;
        display: flex;
        justify-content: center;
        text-align-last: left;
        position: relative;
        a{
            position: relative;
            display: block;
            line-height: 24px;
            margin: 0px 0px 8px 0px;
            color:#5b0b98;
            font-weight: 600;
            padding: 10px;
            &:before, &:after {
                content: '';
                position: absolute;
                transition: transform .5s ease;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                border-style: solid;
                border-color: red;
            }
            &:before {
              border-width: 2px 0 2px 0;
              transform:  scaleX(0);
            }
            &:after {
              border-width: 0 2px 0 2px;
              transform:  scaleY(0);
            }
            &:hover:before, &:hover:after {
              transform:  scale(1, 1);
            }
        }
    }
    &__social-wrapper{
        margin: 0px 20px 0px 0px;
    }
    &__social-icons{
        width: 31px;
        height: 25px;
        margin: 0px 8px 0px 0px;
        padding: 0px 0px 0px 6px;
        &_wh{
            width: 40px;
            margin: 0;
            padding: 0;
        }
    }
}

