
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap');



@import "header.scss";
@import "figure.scss";
@import "3D-slider.scss";
@import "tabs.scss";
@import "social.scss";
@import "modals.scss";
@import "footer.scss";
@import "custom-accordion.scss";
@import "panels.scss";
@import "contacts.scss";

// Обнуление: общие параметры
@import "null.scss";



.wrapper {
    overflow: hidden;
    min-height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
}

.wrapper2{
    background: url('../images/fon05.jpg');
    background-position:center;
    background-size:cover;
    position: relative;
    // padding: 0px 10px 30px 10px;
    &__title{
        padding: 65px 0px 0px 0px;
        text-align: center;
        font-size: 70px;
        color:#fff;
        @media (max-width: 426px){
            font-size: 32px;
        }
    }
}

.wrapper3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(45deg, #BB1881, #F88B50);
}

.wrapper._loaded{
    opacity: 1;
}
.wrapper._loaded .page__pagination{
    transform: translate(0px, -50%);
    opacity: 1;
    visibility: visible;
    transition: transform 0.6s ease 0.8s;
}
.wrapper._free .page__pagination{
    transition: all 0.3s ease 0s;
    transform: translate(50px, -50%);
    opacity: 0;
}

// Основной блок
.page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    &__wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    &__pagination{
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translate(50px, -50%);
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
    }
    &__bullet{
        width: 15px;
        height: 15px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.5);
        margin: 10px 0;
        border-radius: 50%;
        transition: background-color 0.3s ease 0s;
    }
    &__bullet._active{
        background-color:#fff;
    }
    &__scroll{
        position: absolute;
        top: 0;
        right: 0;
        width: 4px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }
    &__drag-scroll{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
    }
}


// ============   Экраны  ===============
.screen{
    flex: 1 0 100%;
    position: relative;
    &__content{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
        background-size:cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &_3{
            background-image: url(../images/fon03.jpg);
            
        }
        &_4{
            background-image: url(../images/fon04.jpg);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    &__content-wrapper{
        padding: 0px 15px;
    }
    &__title{
        font-size: 70px;
        text-transform: uppercase;
        display: inline-block;
        color:#fff;
        text-align: center;
    }
    &__body{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    &__image{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        img{
            object-fit: cover;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}

@media (max-width: 800px){
    .screen__content-wrapper{
        padding-top: 70px;
    }
}


// ======================  Паутинка  =====================
canvas {
    display: block;
  }
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/fon1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 2;
  }




