
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap');



@import "header.scss";
@import "figure.scss";
@import "3D-slider.scss";
@import "tabs.scss";
@import "social.scss";
@import "modals.scss";
@import "footer.scss";
@import "custom-accordion.scss";
@import "panels.scss";


// Обнуление: общие параметры
@import "null.scss";


.title{
    padding: 65px 0px 0px 0px;
    text-align: center;
    font-size: 70px;
    color:#fff;
}



.wrapper {
    overflow: hidden;
    min-height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
}

.wrapper2{
    background: url('../images/fon05.jpg');
    background-position:center;
    background-size:cover;
    position: relative;
    padding: 0px 0px 30px 0px;
}

.wrapper3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(45deg, #BB1881, #F88B50);
}

.wrapper._loaded{
    opacity: 1;
}
.wrapper._loaded .page__pagination{
    transform: translate(0px, -50%);
    opacity: 1;
    visibility: visible;
    transition: transform 0.6s ease 0.8s;
}
.wrapper._free .page__pagination{
    transition: all 0.3s ease 0s;
    transform: translate(50px, -50%);
    opacity: 0;
}

// Основной блок
.page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    &__wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    &__pagination{
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translate(50px, -50%);
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
    }
    &__bullet{
        width: 15px;
        height: 15px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.5);
        margin: 10px 0;
        border-radius: 50%;
        transition: background-color 0.3s ease 0s;
    }
    &__bullet._active{
        background-color:#fff;
    }
    &__scroll{
        position: absolute;
        top: 0;
        right: 0;
        width: 4px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }
    &__drag-scroll{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
    }
}


// ============   Экраны  ===============
.screen{
    flex: 1 0 100%;
    position: relative;
    &__content{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
        background-size:cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &_3{
            background-image: url(../images/fon03.jpg);
            
        }
        &_4{
            background-image: url(../images/fon04.jpg);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    &__title{
        font-size: 70px;
        text-transform: uppercase;
        display: inline-block;
        color:#fff;
        text-align: center;
    }
    &__body{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    &__image{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        img{
            object-fit: cover;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}



// ======================  Паутинка  =====================
canvas {
    display: block;
  }
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/fon1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 2;
  }




// ==========================  Contacts  ==========================
/*--------------------
Mixins
--------------------*/
@mixin center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


// /*--------------------
// Wrapper
// --------------------*/
.contacts__wrapper {
  @include center;
  width: 369px;
  height: 547px;
  font-family: 'Source Sans Pro', sans-serif;
  transform-style: preserve-3d;
  transform: translate(-50%, -50%) perspective(600px) rotateY(20deg) rotateX(10deg);
  border: 2px solid #000;
}

.contacts{
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
    &__me{
        position: relative;
        height: 400px;
        margin: 0px 0px 150px 0px;
    }
    &__form{
        width: 50%;
    }
    &__text{
        width: 50%;
        padding: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__text-wrapper{
        color:#fff;
        font-size: 30px;
        p{
            margin: 0px 0px 30px 0px;
            text-align: center;
        }
        a{
            display: block;
            margin: 0px 0px 10px 0px;
            display: flex;
            align-items: center;
            color:#5b0b98;
        }
    }
    &__icon{
        width: 60px;
        height: 50px;
        margin: 0px 25px 0px 0px;
        padding: 0px 0px 0px 10px;
        &_wh{
            padding: 0px 0px 0px 0px;
            width: 75px;
            margin: 0px 15px 0px 0px;
        }
    }
}

// /*--------------------
// Me
// --------------------*/
.me {
  position: relative;
  width: 369px;
  height: 547px;
  transform: translateZ(80px) scale(.8);
  
  &::before, &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 10px;
    background: url('http://www.supah.it/dribbble/006/profile.png') no-repeat 0 0;
  }
  
  &::after {
    height: 30px;
    top: auto;
    bottom: -15px;
    z-index: -1;
    filter: blur(15px);
    background-size: 100% 30px;
    border-radius: 100px;
  }
  
  .eye, .eye::before {
    width: 70px;
    height: 70px;
    position: absolute;
    top: 175px;
    left: 120px;
    z-index: -1;
    background: url(http://www.supah.it/dribbble/006/eye.png) no-repeat center;
  }
  
  .eye::before {
    content: '';
    top: -2px;
    left: 97px;
  }
}


.contacts__me-text {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 390px;
  height: 595px;
  transform: translateZ(150px) translateX(-11px) translateY(-26px) scale(.55);
  border: 3px solid rgba(255, 255, 255, 1);
  text-align: center;
  font-size: 100px;
  line-height: 1000px;
  color: rgba(255, 255, 255, 1);
  background: linear-gradient(135deg, rgba(255,255,255,1) 0%,rgba(255,255,255,0.36) 39%,rgba(255,255,255,0.07) 41%,rgba(255,255,255,0) 51%,rgba(0,0,0,1) 100%);
  opacity: .3;
  border-radius: 8px;

  &::after {
    content: 'web-developer';
    width: 100%;
    position: absolute;
    bottom: 22px;
    left: 0;
    width: 100%;
    z-index: 1;
    line-height: 1;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-indent: 20px;
  }
}


//  ============================================================


.contact-wrapper {
	// position: absolute;
	// top: 42%;
    // left: 50%;
	// transform: translateY(-50%);
    position: relative;
    margin: 50px 0px 0px 0px;
	width: 50%;
}

.flip-card {
	border-radius: 0.5em;
	position: fixed;
	top: 1em;
	left: 1em;
	width: 5em;
	padding: 0.5em;
	border: 0.1em solid #fff;
	color: #fff;
	text-align: center;
	cursor: pointer;
	z-index: 9;
}

.envelope {
	position: relative;
	display: block;
	width: 30em;
	height: 35em;
	margin: 0 auto;
}

.envelope.active .content {
	padding: 15em 2em 2em;
}

.envelope.active .paper.front,
.envelope.active .paper.back {
	animation-duration: 1.5s;
	animation-direction: normal;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
}

.envelope.active .paper.front {
	animation-name: envelope-front;
}

.envelope.active .paper.back {
	animation-name: envelope-back;
}

.envelope.active .paper.back:before {
	animation-duration: 0.5s;
	animation-direction: normal;
	animation-timing-function: ease-in-out;
	animation-fill-mode: forwards;
	animation-delay: 1.25s;
	animation-name: envelope-back-before;
}

.envelope.active .bottom-wrapper {
	transform: rotateX(180deg);
}

.envelope.active .bottom-wrapper:after {
	z-index: 0;
	opacity: 1;
}

.envelope .content {
	padding: 2em;
	box-sizing: border-box;
	position: relative;
	z-index: 9;
	transition: all 0.5s ease-in-out;
	transition-delay: 1s;
}

.envelope .top-wrapper,
.envelope .bottom-wrapper {
	box-sizing: border-box;
	background: #03a9f5;
	color: #fff;
}

.envelope .top-wrapper {
	padding: 2em 2em 0;
	border-top-left-radius: 0.5em;
	border-top-right-radius: 0.5em;
}

.envelope .bottom-wrapper {
	padding: 0 2em 2em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	transition: all 0.5s ease-in-out;
	transform-origin: top;
	transform-style: preserve-3d;
	position: relative;
	overflow: hidden;
	margin-top: -1px;
}

.envelope .bottom-wrapper:after {
	position: absolute;
	content: '';
	display: block;
	opacity: 0;
	background: #03a9f5;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}

.envelope form label {
	display: block;
	padding-bottom: 0.5em;
}

.envelope form input,
.envelope form textarea {
	width: 100%;
	box-shadow: 0;
	background: transparent;
	color: #fff;
}

.envelope form input {
	border-width: 0 0 0.1em;
	border-color: #fff;
	border-style: solid;
}

.envelope form textarea {
	border: 0.1em solid #fff;
	border-radius: 0.25em;
}

.envelope form .submit-card {
	background: #fff;
	color: #222;
	text-align: center;
	padding: 0.5em;
	box-sizing: border-box;
	background: #fff;
	width: 100%;
	border: 0;
	box-shadow: none;
	border-radius: 0.25em;
	cursor: pointer;
}

.envelope form .input {
	padding-bottom: 1em;
}

.envelope .paper {
	position: absolute;
	display: block;
	top: 0;
	left: 0;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	overflow: hidden;
}

.envelope .paper.back {
	top: 0;
}

.envelope .paper.back:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	margin-bottom: -1px;
	border-style: solid;
	border-width: 0 15em 10em 15em;
	border-color: transparent transparent #d3d3d3 transparent;
	transform-origin: bottom;
	transform-style: preserve-3d;
	z-index: 0;
}

.envelope .paper.back:after {
	content: '';
	display: block;
	background-color: #d3d3d3;
	width: 30em;
	height: 20em;
}

.envelope .paper.front {
	top: 10em;
	box-shadow: 0.1em 0.5em 0.5em rgba(0,0,0,0.25);
	z-index: 0;
}

.envelope .paper.front:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 10em 15em 0 15em;
	border-color: transparent #fff;
}

.envelope .paper.front:after {
	content: '';
	display: block;
	width: 30em;
	height: 10em;
	background: #fff;
	margin-top: -1px;
}

@-moz-keyframes envelope-front {
	0% {
		top: 10em;
		z-index: 0;
	}

	50% {
		top: 15em;
		z-index: 9;
	}

	100% {
		top: 10em;
		z-index: 9;
	}
}

@-webkit-keyframes envelope-front {
	0% {
		top: 10em;
		z-index: 0;
	}

	50% {
		top: 15em;
		z-index: 9;
	}

	100% {
		top: 10em;
		z-index: 9;
	}
}

@-o-keyframes envelope-front {
	0% {
		top: 10em;
		z-index: 0;
	}

	50% {
		top: 15em;
		z-index: 9;
	}

	100% {
		top: 10em;
		z-index: 9;
	}
}

@keyframes envelope-front {
	0% {
		top: 10em;
		z-index: 0;
	}

	50% {
		top: 15em;
		z-index: 9;
	}

	100% {
		top: 10em;
		z-index: 9;
	}
}

@-moz-keyframes envelope-back {
	0% {
		top: 0;
	}

	50% {
		top: 5em;
	}

	100% {
		top: 0;
	}
}

@-webkit-keyframes envelope-back {
	0% {
		top: 0;
	}

	50% {
		top: 5em;
	}

	100% {
		top: 0;
	}
}

@-o-keyframes envelope-back {
	0% {
		top: 0;
	}

	50% {
		top: 5em;
	}

	100% {
		top: 0;
	}
}

@keyframes envelope-back {
	0% {
		top: 0;
	}

	50% {
		top: 5em;
	}

	100% {
		top: 0;
	}
}

@-moz-keyframes envelope-back-before {
	0% {
		border-color: transparent transparent #d3d3d3 transparent;
		transform: rotateX(0deg);
		z-index: 0;
	}

	100% {
		border-color: transparent transparent #fff transparent;
		transform: rotateX(180deg);
		z-index: 99;
		position: relative;
	}
}

@-webkit-keyframes envelope-back-before {
	0% {
		border-color: transparent transparent #d3d3d3 transparent;
		transform: rotateX(0deg);
		z-index: 0;
	}

	100% {
		border-color: transparent transparent #fff transparent;
		transform: rotateX(180deg);
		z-index: 99;
		position: relative;
	}
}

@-o-keyframes envelope-back-before {
	0% {
		border-color: transparent transparent #d3d3d3 transparent;
		transform: rotateX(0deg);
		z-index: 0;
	}

	100% {
		border-color: transparent transparent #fff transparent;
		transform: rotateX(180deg);
		z-index: 99;
		position: relative;
	}
}

@keyframes envelope-back-before {
	0% {
		border-color: transparent transparent #d3d3d3 transparent;
		transform: rotateX(0deg);
		z-index: 0;
	}

	100% {
		border-color: transparent transparent #fff transparent;
		transform: rotateX(180deg);
		z-index: 99;
		position: relative;
	}
}