
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap');



@import "header.scss";
@import "figure.scss";
@import "3D-slider.scss";
@import "tabs.scss";
@import "social.scss";
@import "modals.scss";
@import "footer.scss";
@import "custom-accordion.scss";
// Обнуление: общие параметры
@import "null.scss";


.title{
    padding: 65px 0px 0px 0px;
    text-align: center;
    font-size: 70px;
    color:#fff;
}



.wrapper {
    overflow: hidden;
    min-height: 100%;
    width: 100%;
    opacity: 0;
    transition: opacity 0.8s ease 0s;
}

.wrapper2{
    background: url('../images/fon05.jpg');
    background-position:center;
    background-size:cover;
    position: relative;
    padding: 0px 0px 30px 0px;
}

.wrapper._loaded{
    opacity: 1;
}
.wrapper._loaded .page__pagination{
    transform: translate(0px, -50%);
    opacity: 1;
    visibility: visible;
    transition: transform 0.6s ease 0.8s;
}
.wrapper._free .page__pagination{
    transition: all 0.3s ease 0s;
    transform: translate(50px, -50%);
    opacity: 0;
}

// Основной блок
.page {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    &__wrapper{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 100%;
    }
    &__pagination{
        position: absolute;
        top: 50%;
        right: 50px;
        transform: translate(50px, -50%);
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
    }
    &__bullet{
        width: 15px;
        height: 15px;
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.5);
        margin: 10px 0;
        border-radius: 50%;
        transition: background-color 0.3s ease 0s;
    }
    &__bullet._active{
        background-color:#fff;
    }
    &__scroll{
        position: absolute;
        top: 0;
        right: 0;
        width: 4px;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.2);
    }
    &__drag-scroll{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.8);
        cursor: pointer;
    }
}


// ============   Экраны  ===============
.screen{
    flex: 1 0 100%;
    position: relative;
    &__content{
        width: 100%;
        height: 100%;
        position: relative;
        z-index: 2;
        background-size:cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        &_3{
            background-image: url(../images/fon03.jpg);
            
        }
        &_4{
            background-image: url(../images/fon04.jpg);
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
    &__title{
        font-size: 70px;
        text-transform: uppercase;
        display: inline-block;
        color:#fff;
        text-align: center;
    }
    &__body{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
    }
    &__image{
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        img{
            object-fit: cover;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
        }
    }
}



// ======================  Паутинка  =====================
canvas {
    display: block;
  }
  
  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url("../images/fon1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    z-index: 2;
  }



// =====================  Кнопка "Посмотреть портфолио"  =======================
.btn{
    background-color:#000;
    width: 500px;
    padding: 0px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 100px auto 0;
    border-radius: 10px;
    p{
        color: #fff;
        font-size: 24px;
        margin: 40px 0px;
    }
}
.wave-btn {
	width: 280px;
	height: 60px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	overflow: hidden;
	position: relative;
	transition: all 0.8s ease 0s;
	-webkit-transition: all 0.8s ease 0s;
	-moz-transition: all 0.8s ease 0s;
	-ms-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	justify-content:center;
	align-items: center;
	border-radius: 0 0 10px 10px;
	text-decoration: none;
}

.wave-btn:hover {
	border-radius: 10px;

	transition: all 0.8s ease 0.2s;
	-webkit-transition: all 0.8s ease 0.2s;
	-moz-transition: all 0.8s ease 0.2s;
	-ms-transition: all 0.8s ease 0.2s;
	-o-transition: all 0.8s ease 0.2s;

	-webkit-box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);
	box-shadow: 0 0 40px rgba(73, 115, 255, 0.6);

}
.wave-btn:hover .wave-btn__waves{
	top: -50px;
}

.wave-btn__text {
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 8px;
	position: relative;
	z-index: 1;
}
.wave-btn__waves {
	position: absolute;
	width: 280px;
	height: 280px;
	background-color: #4973ff;
	top: 0;
	left: 0;
	-webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);
	box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5);

	transition: all 0.8s ease 0s;
	-webkit-transition: all 0.8s ease 0s;
	-moz-transition: all 0.8s ease 0s;
	-ms-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
}
.wave-btn__waves:after,
.wave-btn__waves:before{
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 250%;
	height: 250%;

	transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	-moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	-ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	-webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	-o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
}

.wave-btn__waves:before{
	background-color: #000;
	border-radius: 48%;

	animation: waves 5s infinite linear;
	-webkit-animation: waves 5s infinite linear;
	-moz-animation: waves 5s infinite linear;
	-o-animation: waves 5s infinite linear;
}
.wave-btn__waves:after{
	background-color: rgba(0,0,0,0.5);
	border-radius: 44%;

	animation: waves 10s infinite linear;
	-webkit-animation: waves 10s infinite linear;
	-moz-animation: waves 10s infinite linear;
	-o-animation: waves 10s infinite linear;
}

@keyframes waves{
	0%{
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	}
	100%{
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
	}
}
@-webkit-keyframes waves{
	0%{
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	}
	100%{
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
	}
}
@-moz-keyframes waves{
	0%{
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	}
	100%{
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
	}
}
@-o-keyframes waves{
	0%{
		transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-moz-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-ms-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-webkit-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
		-o-transform: translate3d(-50%,-96%,0) rotate(0deg) scale(1);
	}
	100%{
		transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-moz-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-ms-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-webkit-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
		-o-transform: translate3d(-50%,-96%,0) rotate(360deg) scale(1);
	}
}